body {
  font-family: arial;
  background-color: rgb(163 101 101);
}

h1 {
  text-align: center;
  font-weight: bold;
}

div {
  background: #111;
  color: white;
  padding: 25px;
  margin: 15px 30px;
  border-radius: 4px;
}

h2 {
  margin: 0px;
}

span {
  color: #febe01;
}

p {
  color: #b2b2b2;
}

a {
  background: #febe01;
  font-weight: bold;
  color: #332200;
  padding: 5px;
  border-radius: 4px;
  text-decoration: none;
  margin: 1px;
  transition-duration: 1s;
}

a:hover{

  background: #332200;
  color: #febe01;
  transition-duration: 1s;


}

#logo {
  max-width: 100%;
  display: block;
  width: 250px;
  border-radius: 50%;
  margin: auto;
}

.carro {
  max-width: 100%;
  display: block;
  padding-bottom: 8px;
  width: 230px;
  cursor: pointer;
  transition-duration: 1s;

  
}

.carro:hover {
  cursor: pointer;
  border-radius: 20%;
  transition-duration: 1s;

}

#ancora{

  background: #332200;
  color: #febe01;
  cursor: pointer;
  border-radius: 20%;
  margin:30px;
  
}