
body{
	font-family: arial;
}

h1{
	text-align: center;
	font-weight: bold;	
}

div{
	background: #111;
	color:white;
	padding:25px;
	margin: 15px 30px;
	border-radius: 4px;	
}

h2{
	margin:0px;
}

span{
	color:#febe01;
}	

p{
	color: #b2b2b2; 
}

a{
	background: #febe01;
	font-weight:bold;
	color:#332200;
	padding:5px;
	border-radius: 4px;
	text-decoration: none;
	margin:1px;
}

